
body{
    background-color: rgb(233, 229, 229);
    margin: 0 0 60px 0;
    position: relative;
}

body>*{
    width: 50%;
    margin: auto;
}

header{
    display: block;
    position: relative;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px 0;
}

header>h2{
    width: max-content;
    display: block;
    margin: 20px auto;
}

nav{
    position: sticky;
    z-index: 10;
    top: 0;
    display: block;
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    padding: 5px 0;
}

nav ul{
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

nav li{
    list-style-type: none;
    position: relative;
    display: block;
    width: min-content;
    float: left;
    margin: 1%;
    width: 31.3%;
    box-sizing: border-box;
}

nav a{
    padding: 10px;
    height: 40px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 2px black;
}

section{
    margin-top: 20px;
    padding-top: 10px;
    background-color:whitesmoke;
}

section>h3{
    width: max-content;
    display: block;
    margin: 20px;
}

section:after {
    clear:both;
    display:table;
    content:'';
}

section>p{
    margin: 1em;
    box-sizing: border-box;
    display: block;
    text-align: center;
}


footer{
    background-color: whitesmoke;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    margin: 0;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 2px black;
}

#form_section{
    padding: 10px;
}

#form_section>form{
    width: 200px;
    margin: 10px auto;
    padding: 20px;
}

#form_section>form>input{
    width: 96%;
    margin: 2%;
}

.multiply-table{
    border: 3px solid black;
    border-collapse: collapse;
    margin: 0;
}

.multiply-table td,
.multiply-table th{
    border: 2px solid black;
    padding: 5px;
}

.multiply-table th{
    background-color: yellow;
}

.multiply-table td{
    text-align: right;
}

.even{
    background-color: burlywood;
}

.odd{
    background-color: aqua;
}

#multiplying-main{
    width: 80%;
}

#multiplying-main>section{
    width:  min-content;
    padding: 10px;
    margin: 20px auto;
}

#canvas-main{
    width: 80%;
    height: 30vw;
    position: relative;
}

#my-canvas{
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 5px brown;
}

